//colors
//primary
$Pale-blue: hsl(225, 100%, 94%);
$Brigh-blue: hsl(245, 75%, 52%);
//neutral
$Very-pale-blue: hsl(225, 100%, 98%);
$Desaturated-blue: hsl(224, 23%, 55%);
$Dark-blue: hsl(223, 47%, 23%);
//font size
$p-font: 16px;
